.event-info-container {
  color: white;
  font-family: "Bebas Neue", cursive;
}

.event-info-container h5 {
  font-size: 3rem;
  letter-spacing: 1px;
}

.event-info-container .description {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}

.event-info-container .date {
  font-size: 1rem;
  letter-spacing: 1px;
}

.event-eventpage-feed {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.members-group-container {
  color: white;
}

.event-post {
  padding: 2rem;
  border: 3px solid white;
  cursor: pointer;
  margin-bottom: 2rem;
}

.event-post:hover {
  background-color: rgb(27, 30, 34);
}

.breadcrump {
  margin-top: 2rem;
}

.posts {
  color: white;
  margin-top: 7rem;
}

.posts-row {
  justify-content: center;
}

.comment-input {
  width: 100%;
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.comment {
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
}

.comment-date {
  font-family: "Bebas Neue", cursive;
}

.comment-user {
  font-family: "Bebas Neue", cursive;
}

.event-title {
  color: white;
  font-family: "Bebas Neue", cursive;
}

.text-muted {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
}

.event-page-container {
  margin-top: 3rem;
}
