.ok {
  color: white;
}

.event-title {
  color: white;
  font-family: "Bebas Neue", cursive;
}
.group-title {
  color: white;
  font-family: "Bebas Neue", cursive;
}

.Cards {
  color: black;
  font-family: "Bebas Neue", cursive;
}

.profile-button-container {
  display: flex;
  margin: 2rem 0rem;
  flex-direction: row;
  justify-content: flex-end;
}

.test p {
  margin: 0px;
}

.test input {
  margin-bottom: 1rem;
}
